<script type="text/javascript">
    mixpanel.track('Search Results Page Load');
</script>

@{
    ViewBag.Title = "Cranky Jane's";
}
@section featured {
    
    <div id="mainSection2">
    <div id="search">
        <span id="searchPrompt">Search</span>
        <input id="searchInput" type="text" /> 
        <input id="searchButton" type="button" value=" " onclick='window.location="@Url.Action("SearchResults", "Home")    ";' />
    </div>
    </div>

  <div id="listingSection">
      <div id="listing">
      <div id="leftSection">
        <div id="listingHeader" style="font-size:30px;"><img src="/images/divider2.png" style="float:left;margin-top:15px;margin-left:38px;"> Biology <img src="/images/divider2.png" style="margin-top:15px;float:right;margin-right:38px;"></div>
        
        <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>

        <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>
          
                 <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>

        <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>   
          
                  <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>

        <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>   
          
                  <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>

        <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>         

         <div class="listingInner">
            <a onclick='window.location="@Url.Action("ProductDetail", "Home")";' href="#" class="listing_picture"></a>
            <div class="listing_content">
                <div class="listingPrice">$30</div>
                <div class="listingTitle">Biology 101</div>
                Condition: Like New
                <br />Shipping: Free with Amazon Prime
                <div class="subtext">IBSN 965465465404865065465046545</div>
            </div>
         </div>
         <div class="clear"></div>     

    </div>
    <div id="rightSection">
                <div id="productDesc" style="text-align:left;">
                  

                  <img src="~/Images/schoolico.png" style="float:left;padding:10px;">
                  <h1>College</h1>
                  <h2>Utah Valley University</h2>
                  <img src="~/Images/horizdivider.png" style="margin-left:15px;">

                  <img src="~/Images/person.png" style="float:left;padding:10px;">
                  <h1>Reputation</h1>
                  <h2>Feedback <10</h2>
                  <img src="~/Images/horizdivider.png" style="margin-left:15px;">

                  <img src="~/Images/book.png" style="float:left;padding:10px;">
                  <h1>Condition</h1>
                  <h2>New - with access code</h2>
                  <img src="~/Images/horizdivider.png" style="margin-left:15px;">

                  <img src="~/Images/money.png" style="float:left;padding:10px;">
                  <h1>Price</h1>
                  <h2>Less than $30</h2>

              </div>
        <img src="~/Images/getanaccount.png" / style="padding-top:20px;padding-bottom:20px;padding-left:5px;">
        <img src="~/Images/amazon%20ad.png" />
    </div>

    </div>
 </div>


}
